//bootstrap custom
@use "./patternBackground.scss";
$body-bg: #ffffff;
$btn-focus-box-shadow: none;
$btn-focus-width: none;

//custom color
$emGreen: #32594f;
$emGreenLight: #196e63;
$fadedPurple: #e2c8ca;
$bestOrange: #cf6c58;
$flatBlue: #2e4494;
$sandPeach: #fdd5b0;

//custom media query width
$small: 576px;
$medium: 768px;
$large: 992px;
$extraLarge: 1200px;
$extraExtraLarge: 1400px;
$superLarge: 1700px;

@import "./patternBackground";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap");

@mixin small {
  @media (min-width: #{$small}) {
    @content;
  }
}
@mixin medium {
  @media (min-width: #{$medium}) {
    @content;
  }
}
@mixin large {
  @media (min-width: #{$large}) {
    @content;
  }
}
@mixin extraLarge {
  @media (min-width: #{$extraLarge}) {
    @content;
  }
}
@mixin extraExtraLarge {
  @media (min-width: #{$extraExtraLarge}) {
    @content;
  }
}
@mixin superLarge {
  @media (min-width: #{$superLarge}) {
    @content;
  }
}

body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  background-color: white;
}

.mainContent {
  padding: 0px 20px 20px 20px;

  .appName {
    font-family: "Lobster Two", cursive;
    color: black;
  }

  .navActive {
    position: relative;
  }

  .navActive::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    background-color: blue;
  }

  @include medium {
    width: 75%;
    margin: auto;
  }

  @include large {
    width: 99%;
  }

  @include superLarge {
    width: 85%;
  }
}

//SearchBarJSX
.searchBarJSX {
  input {
    border-radius: 20px;
  }
}

//PocketProfile
.pocketProfile {
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  padding: 15px;
  height: fit-content;
}
.pocketProfile::before {
  content: "Profile";
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: -15px;
  right: 20px;
  font-weight: bold;
  font-size: 1.3rem;
  background: #4ac6d2;
  background: #9e15bf;
  color: white;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
  padding: 0px 15px;
  border-radius: 20px;
}

.pocketProfile::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
}

.pocketProfile:hover::after {
  opacity: 1;
}

//CompanyJSX
.cardOuterContainer {
  position: relative;

  //company cardss
  .cardInnerContainer {
    .card {
      position: relative;
      background-color: #fff5eb;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
      transition: all 0.3s ease-in-out;
      opacity: 0;
      border-radius: 10px;

      .card-header {
        color: white;
        //background-color: #00adb5;
        background-color: #4ac6d2;

        .companyLogo {
          border-radius: 10px;
        }
      }
    }

    @include extraLarge {
      //width: 40%;
      flex-grow: 1;
    }
  }

  //Details
  .companyDetail {
    position: absolute;
    z-index: 2;
    background-color: rgb(34, 34, 34);
    color: white;
    width: 100%;
    height: 96vh;
    border-radius: 20px;
    padding: 20px;
    left: 0%;
    top: -1%;
    overflow-y: scroll;
    overscroll-behavior-y: contain;

    @include large {
      position: relative;
      width: 65%;
      min-height: 96vh;
      height: max-content;
      padding: 20px 50px;
      left: 1%;
      opacity: 1;
    }

    @include superLarge {
      padding: 20px 100px;
    }

    .divider {
      background-color: rgba(136, 136, 136, 0.11);
    }

    //mobile only
    .btnCloseContainer {
      text-align: right;
    }

    .companyLogo {
      border-radius: 15px;
    }

    .jobCardContainer {
      padding: 5px;

      .jobCard {
        border-radius: 10px;
        background-color: white;
        color: black;
        padding: 8px;
        margin-bottom: 1em;

        @include large {
          margin-bottom: 2em;
        }

        .favButton:hover {
          transform: scale(1.1, 1.1);
        }

        .favButton:active {
          transform: scale((0.9, 0.9));
        }
      }
    }

    .commentBox {
      max-height: 200px;
      overflow-y: scroll;
    }

    .commentInput {
      width: 80%;
      max-height: 200px;

      @include small {
        width: 90%;
      }
    }

    .sendComment {
      position: relative;
      width: 20%;
      border-radius: 0px 10px 10px 0px;

      @include small {
        width: 10%;
      }
    }
  }

  .companyDetail::-webkit-scrollbar {
    display: none;
  }
  //CompanyDetail END

  @include large {
    display: flex;
    justify-content: space-around;
    position: relative;
  }
}
//cardOuterContainer END

.card:hover {
  cursor: pointer;
  transform: scale(1.02, 1.02);
}
/* Create the hidden pseudo-element */
/* include the shadow for the end state */

.card::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease-in-out;
}

/* Fade in the pseudo-element with the bigger shadow */
.card:hover::after {
  opacity: 1;
}

//pagination
.companyPageBox {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px;

  a {
    color: black;
    text-decoration: none;

    margin: 0px 5px;
    padding: 10px;
    border-radius: 10px;
  }
  a:hover {
    background-color: $yellow-400;
  }

  .activePageBtn a {
    background-color: $yellow-400;
  }

  .disablePageBtn a {
    background-color: $gray-200;
    cursor: default;
  }
}

//end CompanyJSX

//Footer
.footer {
  color: white;
  background-color: #000000;
  @extend .footer;

  .footer-logo {
    user-select: none;
    font-family: "Libre Barcode 128 Text", cursive;
  }
}

//custom scrollbar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(82, 82, 82);
}

//TED's LOGIN/Register

.ted {
  .full-page {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('/src/cssPublic/login/0.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
  }

  .fontlogo:link {
    text-decoration: none;
    font-size: 45px;
    color: rgb(255, 255, 255);
    font-family: "Lobster Two", cursive;
    src: url(https://fonts.gstatic.com/s/lobstertwo/v13/BngTUXZGTXPUvIoyV6yN5-fI3hyE8R-ifg.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
      U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  .fontlogo:visited {
    color: white;
  }

  .navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
  }

  nav {
    flex: 1;
    text-align: right;
  }
  nav ul {
    display: inline-block;
    list-style: none;
    height: fit-content;
    margin: auto;
  }
  nav ul li {
    display: inline-block;
    margin-right: 50px;
    
  }
  nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
  }
  nav ul li button {
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
  }
  nav ul li button:hover {
    color: aqua;
  }
  nav ul li a:hover {
    color: aqua;
  }
  // a {
  //   text-decoration: none;
  //   color: palevioletred;
  //   font-size: 28px;
  // }
  /*
#login-form
{
    display: none;
}
*/
  .form-box .registerBox {
    width: 650px;
    height: 500px;
    overflow-y: scroll;
    position: relative;
    margin: 2% auto;
    background: rgb(219, 219, 219);
    padding: 10px 20px;
    border-radius: 10px;

    .personalInfo, .loginInfo {
      background-color: rgba(255,255,255,0.5);
      border-radius: 20px;
      padding: 15px;
    }
  }

  .form-box .loginBox {
    width: 380px;
    height: 500px;
    position: relative;
    margin: 2% auto;
    background: rgb(219, 219, 219);
    padding: 10px;
    border-radius: 10px;
  }

  .button-box {
    width: fit-content;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
  }
  .toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    // background: rgba(194, 194, 194, 0.705);
    background-color: #f3c693;
    border: 0;
    border-radius: 30px;
    outline: none;
    position: relative;
  }

  .activex {
    background-color: #346751;
    color: white;
  }

  #btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f3c693;
    border-radius: 30px;
    transition: 0.5s;
  }
  .input-group-login {
    top: 150px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
  }
  .input-group-register {
    top: 120px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
  }
  .input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
  }
  .submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #f3c693;
    border: 0;
    outline: none;
    border-radius: 30px;
  }
  .submit-btn:hover {
    background: #af8a60;
  }
  span {
    color: #777;
    font-size: 12px;
  }
  #login {
    left: 50px;
  }
  #login input {
    color: rgb(0, 0, 0);
    font-size: 15;
  }
  #register {
    left: 450px;
  }
  #register input {
    color: rgb(0, 0, 0);
    font-size: 15;
  }
}


//END TED (LOGIN/REGISTER)-------------------------------------->

