//bootstrap custom
@use "./patternBackground.scss";
$body-bg: #ffffff;
$btn-focus-box-shadow: none;
$btn-focus-width: none;

//custom color
$emGreen: #32594f;
$emGreenLight: #196e63;
$fadedPurple: #e2c8ca;
$bestOrange: #cf6c58;
$flatBlue: #2e4494;
$sandPeach: #fdd5b0;

//custom media query width
$small: 576px;
$medium: 768px;
$large: 992px;
$extraLarge: 1200px;
$extraExtraLarge: 1400px;
$superLarge: 1700px;

@import "./patternBackground";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap");

@mixin small {
  @media (min-width: #{$small}) {
    @content;
  }
}
@mixin medium {
  @media (min-width: #{$medium}) {
    @content;
  }
}
@mixin large {
  @media (min-width: #{$large}) {
    @content;
  }
}
@mixin extraLarge {
  @media (min-width: #{$extraLarge}) {
    @content;
  }
}
@mixin extraExtraLarge {
  @media (min-width: #{$extraExtraLarge}) {
    @content;
  }
}
@mixin superLarge {
  @media (min-width: #{$superLarge}) {
    @content;
  }
}

body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  background-color: white;
}

.yx {
  .mainContent {
    padding: 0px 20px 20px 20px;

    .appName {
      font-family: "Lobster Two", cursive;
      color: black;
    }

    .navActive {
      position: relative;
    }

    .navActive::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      bottom: 0;
      background-color: blue;
    }

    @include medium {
      width: 75%;
      margin: auto;
    }

    @include large {
      width: 99%;
    }

    @include superLarge {
      width: 85%;
    }
  }

  //SearchBarJSX
  .searchBarJSX {
    input {
      border-radius: 20px;
    }
  }

  //PocketProfile
  .pocketProfile {
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    padding: 15px;
    height: fit-content;
  }
  .pocketProfile::before {
    content: "Profile";
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: -15px;
    right: 20px;
    font-weight: bold;
    font-size: 1.3rem;
    background: #4ac6d2;
    background: #9e15bf;
    color: white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    padding: 0px 15px;
    border-radius: 20px;
  }

  .pocketProfile::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
  }

  .pocketProfile:hover::after {
    opacity: 1;
  }

  //CompanyJSX
  .cardOuterContainer {
    position: relative;

    //company cardss
    .cardInnerContainer {
      .card {
        position: relative;
        background-color: #fff5eb;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
        transition: all 0.3s ease-in-out;
        opacity: 0;
        border-radius: 10px;

        .card-header {
          color: white;
          //background-color: #00adb5;
          background-color: #4ac6d2;

          .companyLogo {
            border-radius: 10px;
          }
        }
      }

      @include extraLarge {
        //width: 40%;
        flex-grow: 1;
      }
    }

    //Details
    .companyDetail {
      position: absolute;
      z-index: 2;
      background-color: rgb(34, 34, 34);
      color: white;
      width: 100%;
      height: 96vh;
      border-radius: 20px;
      padding: 20px;
      left: 0%;
      top: -1%;
      overflow-y: scroll;
      overscroll-behavior-y: contain;

      @include large {
        position: relative;
        width: 65%;
        min-height: 96vh;
        height: max-content;
        padding: 20px 50px;
        left: 1%;
        opacity: 1;
      }

      @include superLarge {
        padding: 20px 100px;
      }

      .divider {
        background-color: rgba(136, 136, 136, 0.11);
      }

      //mobile only
      .btnCloseContainer {
        text-align: right;
      }

      .companyLogo {
        border-radius: 15px;
      }

      .jobCardContainer {
        padding: 5px;

        .jobCard {
          border-radius: 10px;
          background-color: white;
          color: black;
          padding: 8px;
          margin-bottom: 1em;

          @include large {
            margin-bottom: 2em;
          }

          .favButton:hover {
            transform: scale(1.1, 1.1);
          }

          .favButton:active {
            transform: scale((0.9, 0.9));
          }
        }
      }

      .commentBox {
        max-height: 200px;
        overflow-y: scroll;
      }

      .commentInput {
        width: 80%;
        max-height: 200px;

        @include small {
          width: 90%;
        }
      }

      .sendComment {
        position: relative;
        width: 20%;
        border-radius: 0px 10px 10px 0px;

        @include small {
          width: 10%;
        }
      }
    }

    .companyDetail::-webkit-scrollbar {
      display: none;
    }
    //CompanyDetail END

    @include large {
      display: flex;
      justify-content: space-around;
      position: relative;
    }
  }
  //cardOuterContainer END

  .card:hover {
    cursor: pointer;
    transform: scale(1.02, 1.02);
  }
  /* Create the hidden pseudo-element */
  /* include the shadow for the end state */

  .card::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease-in-out;
  }

  /* Fade in the pseudo-element with the bigger shadow */
  .card:hover::after {
    opacity: 1;
  }

  //pagination
  .companyPageBox {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;

    a {
      color: black;
      text-decoration: none;

      margin: 0px 5px;
      padding: 10px;
      border-radius: 10px;
    }
    a:hover {
      background-color: $yellow-400;
    }

    .activePageBtn a {
      background-color: $yellow-400;
    }

    .disablePageBtn a {
      background-color: $gray-200;
      cursor: default;
    }
  }

  //Aministration
  .addCompanyForm {
    background-color: #f7d7b29c;
    padding: 20px;
    border-radius: 20px;
    text-align: left;
    width: 98%;

    @include large {
      width: 60%;
    }

    .basicInformation {
      padding: 15px;
      background-color: rgba(128, 128, 128, 0.1);
      border-radius: 20px;
      margin-bottom: 10px;
    }

    .jobSection {
      padding: 15px;
      background-color: rgba(128, 128, 128, 0.1);
      border-radius: 20px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
  //end CompanyJSX
}

//Footer
.footer {
  color: white;
  background-color: #000000;
  @extend .footer;

  .footer-logo {
    user-select: none;
    font-family: "Libre Barcode 128 Text", cursive;
  }
}

//custom scrollbar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(82, 82, 82);
}

//TED's LOGIN/Register

.ted {
  .full-page {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/src/cssPublic/login/1.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
  }

  .fontlogo:link {
    text-decoration: none;
    font-size: 45px;
    color: rgb(255, 255, 255);
    font-family: "Lobster Two", cursive;
    src: url(https://fonts.gstatic.com/s/lobstertwo/v13/BngTUXZGTXPUvIoyV6yN5-fI3hyE8R-ifg.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
      U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  .fontlogo:visited {
    color: white;
  }

  .navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
  }

  nav {
    flex: 1;
    text-align: right;
  }
  nav ul {
    display: inline-block;
    list-style: none;
    height: fit-content;
    margin: auto;
  }
  nav ul li {
    display: inline-block;
    margin-right: 50px;
  }
  nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
  }
  nav ul li button {
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
  }
  nav ul li button:hover {
    color: aqua;
  }
  nav ul li a:hover {
    color: aqua;
  }
  // a {
  //   text-decoration: none;
  //   color: palevioletred;
  //   font-size: 28px;
  // }
  /*
#login-form
{
    display: none;
}
*/
  .form-box .registerBox {
    width: 650px;
    height: 500px;
    overflow-y: scroll;
    position: relative;
    margin: 2% auto;
    background: rgb(219, 219, 219);
    padding: 10px 20px;
    border-radius: 10px;

    .personalInfo,
    .loginInfo {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 20px;
      padding: 15px;
    }
  }

  .form-box .loginBox {
    width: 380px;
    height: 500px;
    position: relative;
    margin: 2% auto;
    background: rgb(219, 219, 219);
    padding: 10px;
    border-radius: 10px;
  }

  .button-box {
    width: fit-content;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
  }
  .toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    // background: rgba(194, 194, 194, 0.705);
    background-color: #f3c693;
    border: 0;
    border-radius: 30px;
    outline: none;
    position: relative;
  }

  .activex {
    background-color: #346751;
    color: white;
  }

  #btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f3c693;
    border-radius: 30px;
    transition: 0.5s;
  }
  .input-group-login {
    top: 150px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
  }
  .input-group-register {
    top: 120px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
  }
  .input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
  }
  .submit-btn {
    width: 85%;
    padding: 10px 30px;
    color: black;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #f3c693;
    border: 0;
    outline: none;
    border-radius: 30px;
  }
  .submit-btn:hover {
    background: #af8a60;
    color: white;
  }
  span {
    color: #777;
    font-size: 12px;
  }
  #login {
    left: 50px;
  }
  #login input {
    color: rgb(0, 0, 0);
    font-size: 15;
  }
  #register {
    left: 450px;
  }
  #register input {
    color: rgb(0, 0, 0);
    font-size: 15;
  }
}

//END TED (LOGIN/REGISTER)-------------------------------------->

//WHITNEY (LANDING PAGE)
.whit {
  .content-main{
    opacity: 0;
  }
  //intro anim
  .introAnim{
    z-index: 2;

    .intro {
      background: black;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .slider {
      background: rgb(97, 105, 109);
      position: fixed;
      /*original top:0*/
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateY(100%);
    }
  
    .hide {
      background: black;
      overflow: hidden;
    }
  
    .hide span {
      transform: translateY(100%);
      display: inline-block;
    }

    .text {
      color: white;
      font-family: "Heebo", sans-serif;
      font-size: 5rem;
    }
    .text-logo{
      font-family: "Lobster Two", cursive;
    }
  }

  .unify-heading {
    font-size: 80px;
    font-weight: 200 !important;
    letter-spacing: 4px;
    font-family: "Calibri";
    color: white;
    text-align: left;
  }

  /*full background*/
  .full-background {
    background-color: #0e0725;
  }

  /*lobster two font style*/
  .logo_text {
    font-family: Lobster Two;
    font-size: 100;
  }

  /*Back to top button*/
  #btn-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    padding: 15px;
    background-color: transparent;
  }

  /*hover effect forback to top button*/
  #btn-top:hover {
    background-color: #fc466b;
  }

  /*Header section css start*/
  /*background for the header section*/
  .header_section {
    width: auto;
    float: center;
    background-image: url("/src/cssPublic/landing/fluid-bg2.jpg");
    opacity: 100%;
    height: auto;
    padding: 20px 0;
    background-size: auto;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: right 35% bottom 45%;
  }

  /*gradient text for logo title(Intern-Net)*/
  .gradient_text {
    background-color: transparent;
    background-image: linear-gradient(45deg, #fcdb46 30%, #fc466b 60%, #3f5efb 90%);

    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
  }

  /*animation for logo's title*/
  @keyframes rainbow-text-simple-animation-rev {
    0% {
      background-size: 650%;
    }
    40% {
      background-size: 650%;
    }
    100% {
      background-size: 100%;
    }
  }

  /*navbar*/
  .navbar {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    transition: background 0.6s ease-in;
    z-index: 99999;
  }

  /*navbar logo's title style(Intern-Net)*/
  .navbar .navbar-brand {
    font-family: "Lobster Two";
    font-weight: Normal;
    font-size: 65px;
    text-align: center;
  }

  /*nav bar style*/
  .nav_color a {
    font-family: "Arial";
    font-size: 15px;
    letter-spacing: 2px;
    color: white;
  }

  /*log in button*/
  .login-bt {
    width: 100%;
    float: left;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    height: 40px;
  }

  /*log in button before hover*/
  .top-button-section li a.login-bt {
    width: auto;
    float: left;
    font-size: 15px;
    font-family: Arial;
    text-align: center;
    background-color: transparent;
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    color: white;
    padding: 0 20px;
  }

  /*log in button hover*/
  .top-button-section li a.login-bt:hover,
  .top-button-section li a.login-bt:focus,
  .top-button-section li a.login-bt.active {
    background: rgba(126, 27, 133, 255);
  }

  /*remove any designs*/
  a:hover {
    text-decoration: none;
  }
  a:link {
    text-decoration: none;
  }

  .banner-section {
    width: 100%;
    float: left;
    padding-top: 300px;
  }

  #main_slider div.img-box {
    margin-top: 10;
    float: right;
    padding-left: 100px;
  }

  .banner_taital {
    width: 100%;
    float: left;
    letter-spacing: 2px;
    font-size: 59px;
    font-family: "Arial";
    color: #fc466b;
    font-weight: 600;
    text-align: left;
    padding-top: 70px;
  }

  .lorem_text {
    width: 100%;
    float: left;
    font-size: 15px;
    font-family: "Arial";
    color: #ffffff;
    padding-left: 0;
    margin: 10px 0 0;
  }

  .ads_bt {
    width: 35%;
    float: left;
    height: 50px;
    font-size: 18px;
    background-color: white;
    border-radius: 30px;
    margin-left: 0;
    margin-top: 30px;
    text-align: center;
    padding-top: 5px;
  }

  .ads_bt a {
    color: rgba(20, 0, 53, 255);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: Bold;
    font-size: 25px;
  }
  /*Header section css end*/

  /*Testimonial css start*/

  .align-center {
    text-align: center;
  }
  .hash-list {
    display: block;
    padding: 0;
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    .hash-list.cols-3 > li:nth-last-child(-n + 3) {
      border-bottom: none;
    }
  }
  @media (min-width: 768px) {
    .hash-list.cols-3 > li {
      width: 33.3333%;
    }
  }
  .hash-list > li {
    display: block;
    float: left;
    border-right: 3px solid rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 255, 255);
  }
  .pad-30,
  .pad-30-all > * {
    padding: 30px;
  }
  img {
    border: 0;
  }
  .mgb-20,
  .mgb-20-all > * {
    margin-bottom: 20px;
  }
  .wpx-100,
  .wpx-100-after:after {
    width: 100px;
  }
  .img-round,
  .img-rel-round {
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
  }
  .padb-30,
  .padb-30-all > * {
    padding-bottom: 30px;
  }

  .mgb-40,
  .mgb-40-all > * {
    margin-bottom: 40px;
  }
  .align-center {
    text-align: center;
  }
  [class*="line-b"] {
    position: relative;
    padding-bottom: 20px;
    border-color: #e6af2a;
  }
  .fg-text-d,
  .fg-hov-text-d:hover,
  .fg-active-text-d.active {
    color: white;
  }

  .font-cond {
    color: rgb(224, 209, 209);
  }

  .font-cond-l {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  /*Testimonial section css end*/

  /*----------------------------------------------------------------------------------------------------------*/
  /*Companies section css end*/

  /*Social team section css start*/
  /*Heading padding for TESTIMONIAL*/
  .social-Heading {
    padding: 5%;
    text-align: left;
    padding-left: 16%;
  }

  .social-team-section {
    padding-top: 0rem;
    background-image: url("/src/cssPublic/landing/team-bg.jpg");
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
  }

  body {
    margin-top: 20px;
  }
  .rs-team .team-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
  }
  .rs-team .team-item:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  .rs-team .team-item .team-img {
    position: relative;
  }
  /*name block before hower*/
  .rs-team .team-item .team-img .normal-text {
    position: absolute;
    text-align: center;
    height: 80px;
    bottom: -1px;
    padding: 17px 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    background-color: rgba(217, 8, 69, 0.7);
    transition: 0.3s ease all;
    z-index: 10;
  }
  /*Name block style*/
  .rs-team .team-item .team-img .normal-text .team-name {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    display: block;
    text-transform: uppercase;
    padding: 0 0 3px;
  }
  .rs-team .team-item .team-img .normal-text .subtitle {
    color: #fff;
    margin: 0;
    display: block;
  }
  .rs-team .team-item .team-img img {
    width: 100%;
  }
  /*hower bg*/
  .rs-team .team-item .team-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    text-align: center;
    z-index: 1;
    padding: 0px;
    opacity: 0;
    -webkit-transition: 0.5s all ease-out;
    transition: 0s all ease-out;
  }
  /*hower bg*/
  .rs-team .team-item .team-content:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(217, 8, 69, 0.8);
    z-index: -1;
  }
  .rs-team .team-item .team-name {
    margin-bottom: 2px;
  }
  .rs-team .team-item .team-name a {
    margin-bottom: 6px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
  }
  .rs-team .team-item .team-name a:hover {
    color: #fff;
  }
  .rs-team .team-item .postion {
    position: relative;
    z-index: 1;
    color: #fff;
  }
  .rs-team .team-item .share-icons {
    position: relative;
    max-width: 255px;
    margin: auto;
    opacity: 0;
  }

  .rs-team .team-item .team-social {
    position: relative;
  }

  .rs-team .team-item .team-social li {
    display: inline-block;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    padding: 35px;
  }
  /*social media icon*/
  .rs-team .team-item .team-social li a {
    display: block;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 100px;
    padding-left: 1px;
    padding-top: 1px;
    font-size: 25px;
  }
  .rs-team .team-item .team-social li a:hover {
    background: #fff;
    border-color: #fff;
    color: #d90845;
  }
  .rs-team .team-item:hover .team-content {
    top: 0;
  }
  .rs-team .team-item:hover .share-icons,
  .rs-team .team-item:hover .team-content,
  .rs-team .team-item:hover .team-social {
    opacity: 1;
    visibility: visible;
  }
  .rs-team .team-item:hover .normal-text {
    opacity: 0;
    visibility: hidden;
  }
  .rs-team.fullwidth-team .col-lg-3 {
    padding: 0;
  }
  .rs-team.fullwidth-team .col-lg-3 .team-item {
    margin-bottom: 0;
  }
  .rs-team.fullwidth-team .col-lg-3 .team-item .team-img .normal-text {
    text-align: left;
    background: transparent;
    padding-left: 15px;
  }
  .rs-team.rs-team2 .normal-text {
    clip-path: polygon(100% 100%, 0% 100%, 50% -95%);
  }
  .rs-team#rs-team3 .share-icons {
    max-width: 230px;
  }
  .rs-team#rs-team3.bg6,
  .rs-team#rs-team3.bg4 {
    position: relative;
  }

  .rs-team#rs-team3 .container-fullwidth {
    position: relative;
    z-index: 1;
  }
  .rs-team#rs-team3 .team-item {
    margin-bottom: 30px;
  }
  .rs-team#rs-team3 .team-item .team-img .normal-text {
    height: 205px;
    bottom: -23%;
    padding: 30px 0;
    width: 86%;
    border-radius: 50%;
    clip-path: none;
  }
  .rs-team#rs-team3 .team-item .team-social li {
    padding: 20px;
  }
  .rs-team#rs-team3 .team-item .team-social.icons-1:before,
  .rs-team#rs-team3 .team-item .team-social.icons-2:before {
    width: 80px;
  }
  .rs-team#rs-team3 .team-item .team-social.icons-1:after,
  .rs-team#rs-team3 .team-item .team-social.icons-2:after {
    height: 70px;
  }
  .home5 .rs-team .team-item .team-img img {
    border-radius: 5px;
  }

  ul {
    list-style: outside none none;
    margin: 0;
    padding-right: 20px;
  }
  /*Our team section css end*/

  /*-------------------------------------------------------------------------------------------------------------------------*/
  /*Featured companies css start*/
  /*company section with bg*/
  .company-section {
    padding: 5%;
    background-image: url("/src/cssPublic/landing/drip.gif");
    height: fit-content;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 180vh;
  }

  /*padding for heading FEATURED COMPANY*/
  .pad-company {
    padding-top: 30%;
    padding-bottom: 4%;
    padding-right: 10px;
    text-align: right;
  }

  body {
    margin-top: 0px;
  }

  .cover-background {
    position: relative !important;
    background-size: cover !important;
    overflow: hidden !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }

  .margin-30px-bottom {
    margin-bottom: 30px;
  }

  .box-hover:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.76);
    background: -webkit-linear-gradient(top, transparent, #000 116%);
    background: linear-gradient(-180deg, transparent, #000 116%);
    z-index: 0;
    width: 100%;
    height: 100%;
  }
}

//Landing page end

.hj {
  .saved {
    padding: 20px;
  }
}
