$body-bg: #ffffff;


$btn-focus-box-shadow: none;
$btn-focus-width: none;


@import '../../node_modules/bootstrap/scss/bootstrap.scss';

body {
    padding: 0px 20px;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

.card:hover {
    cursor: pointer;
    
}

.card-header {
    color: white;
    background-color: $cyan-600;
}

.card {
    position: relative;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
  }
  
  /* Create the hidden pseudo-element */
  /* include the shadow for the end state */
  .card::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
  }
  
  /* Fade in the pseudo-element with the bigger shadow */
  .card:hover::after {
    opacity: 1;
  }


  .companyLogo {
    border-radius: 10px;
  }

  .companyPageBox {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;

    a {
      color: black;
      text-decoration: none;
      border: 1px solid black;
      margin: 0px 5px;
      padding: 10px;
      border-radius: 10px;
    }

    a:hover {
      background-color: $yellow-400;
    }

    .activePageBtn a {
      background-color: $yellow-400;
    }
  }



  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background:grey;
    border-radius: 2px;
  }